<div class="row">
	<%= link_to "Go chat #{chat_room.title}", chat_room_path(chat_room),
	class: "btn btn-primary btn-sm" %>
<li>
	<%= link_to "Delete", chat_room_path(chat_room), method: :delete,
	 data: {confirm: "Are you sure?"},
	  class: "btn btn-danger btn-sm" %>
</div>
